@import "../public/base";


.main {

    .document {
        width: 100%;
        padding: 1em;

        .content {
            padding: 2em 0;

            ul {
                li {
                    a {
                        display: block;
                        padding: 0.1em 0;
                        text-decoration: none;
                        color: @gray-darker;
                    }
                }
            }
        }

        hr {
            border: none;
            border-bottom: 1px solid #eeeeee;
            box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
        }
    }

}

@media screen and (max-width: 1024px){
    .main{
        .document {

            .content {
                padding: 2em 0;

                ul {
                    li {
                        a {
                            font-size: 0.8em;
                        }
                    }
                }
            }

            hr {
                border: none;
                border-bottom: 1px solid #eeeeee;
                box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
            }
        }
    }
}