@import "../public/base";

@import "../public/compoment/panel";
@import "../public/compoment/post";
@import "../public/compoment/pager";

html,body{
    background-color: #fafafa!important;
}

.main{

    .title{

        margin: 0;
        padding: 0;

        color: #626262;

        font-size: 12px;
        font-weight: 600;
        line-height: normal;

        overflow: hidden;

        text-overflow: ellipsis;
        text-transform: uppercase;
    }

    .pager{
        background-color: #fff;
    }
}