<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>

	<% include ../tmpl/header_meta.ejs %>

	<title><%= pageTitle %> - <%= settings.site.name %></title>

	<% include ../tmpl/header_pub.ejs %>

	<link rel="stylesheet" href="/public/css/css-page/demo-bg-video.min.css">

	<!-- fuck swfobject -->
	<script src="/public/js-spm/src/utils/swfobject.js"></script>

	<!-- GLOBAL JAVASCRIPT -->
	<script>
		JS_PAGE_NAME = 'demo-bg-video';
		swfobject.registerObject("index-player", "9.0.0", "/public/demo/bg-video/IndexPlayer.swf");
	</script>

</head>
<body>

<div class="wrap">
	<div class="mask">
		<div class="html-player">
			<video id="html5-video" src="" autoplay="autoplay" loop="loop"></video>
		</div>
		<div class="flash-player">

			<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="100%" height="100%" id="index-player" name="index-player" align="middle">
				<param name="movie" value="/public/demo/bg-video/IndexPlayer.swf">
				<param name="loop" value="true">
				<param name="menu" value="false">
				<param name="quality" value="high">
				<param name="wmode" value="transparent">
				<param name="swliveconnect" value="true">
				<param name="allowfullscreen" value="true">
				<param name="allowscriptaccess" value="always">
				<param name="flashvars" value="id=1&amp;id=2">
				<!--[if !IE]>-->
				<object type="application/x-shockwave-flash" data="/public/demo/bg-video/IndexPlayer.swf" width="100%" height="100%" align="middle">
					<param name="loop" value="true">
					<param name="menu" value="false">
					<param name="quality" value="high">
					<param name="wmode" value="transparent">
					<param name="swliveconnect" value="true">
					<param name="allowfullscreen" value="true">
					<param name="allowscriptaccess" value="always">
					<param name="flashvars" value="id=1&amp;id=2">
					<!--<![endif]-->
					<a href="http://www.adobe.com/go/getflashplayer">
						<img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player">
					</a>
					<!--[if !IE]>-->
				</object>
				<!--<![endif]-->
			</object>

		</div>
	</div>
	<div class="layout">
		<div class="main">
			<div class="inner">
				<div class="promote">
					<img class="promote-txt" src="/public/demo/bg-video/1x/txt.png" alt=""/>
					<img class="promote-phone" src="/public/demo/bg-video/1x/phone-number.png" alt=""/>
					<img class="promote-btn" src="/public/demo/bg-video/1x/btn-watch.png" alt=""/>
				</div>
			</div>
		</div>
	</div>
</div>


<footer>
	<div class="container">
		<div class="footer-row">
			<div class="column">
				<p class="title">联系 Contacts</p>
				<ul>
					<li><p>电话：025-83366679</p></li>
					<li><p>地址：南京市栖霞区马群街道自动国际创意园G3楼508室</p></li>
				</ul>

				<ul class="join">
					<li><a href="">加入我们</a></li>
					<li><a href="">关于我们</a></li>
				</ul>
			</div>

			<div class="column">
				<h3 class="title"></h3>
				<p class="title">产品 Products</p>
				<ul>
					<li><a href="http://vzhibo.tv">V直播</a></li>
					<li><a href="http://danmu.vzhibo.tv">V弹幕</a></li>
				</ul>
			</div>

			<div class="column">
				<p class="title">友情链接 Contacts</p>
				<ul>
					<li><a href="http://vzhibo.tv">V直播</a></li>
					<li><a href="http://danmu.vzhibo.tv">V弹幕</a></li>
				</ul>
			</div>

			<div class="column">
				<p class="title">致敬 Tributes</p>
				<p class="tribute">We should be building great things that don't exist <br> —— Larry Page</p>
			</div>
		</div>

		<div class="footer-copyright">
			<p class="cr-txt">Copyright &copy; 2000-2013 Arashi Vision All Rights Reserved</p>

			<p class="cr-img"><img class="made-in-nanjing" data-retina-url="/public/demo/bg-video/icon-madeinnanjing.svg" data-img-type="svg" alt=""/></p>
			<p class="cr-bei">苏ICP备 123456</p>
		</div>
	</div>
</footer>

<% include ../tmpl/footer_pub.ejs %>
<% include ../tmpl/footer_sea.ejs %>

</body>
</html>