<% include ../tmpl/header %>

<div class="wrap">
	<!--[if lt IE 7]>
	<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
		your browser</a> to improve your experience.</p>
	<![endif]-->

	<div class="layout">

		<div class="header">
			<div class="col-12 nav">
				<a class="button right" href="/docs"><i class="fa fa-file"> Notes</i></a>
				<a class="button right" href="https://github.com/thonatos"><i class="fa fa-github"> Thonatos</i></a>

				<div class="clearfix"></div>
			</div>

		</div>
		<div class="main">
			<div class="inner">
				<div class="about">
					<h4>ABOUT.</h4>

					<p>大概是高中时候为了给喜欢的妹子做个有点纪念意义的小站，就这么开始研究起Web，后来听说有个职业叫“前端”？</p>

					<p>
						四年大学的前三年，去看了w3school，写了点css，能撸点html，偶尔再改改JavaScript；跟着“妓院”的教授写了几天Java；然后回到蛋疼的前端，做了一枚逗比的前端页面仔，大概就是对这四年的总结了吧？</p>

					<p>对了，忘记交代了，她最后还是和别人在一起了...</p>
				</div>
				<!--<div class="info">-->
				<!--<a class="button" href="http://weibo.com/thonatos"><i class="fa fa-weibo"> Thonatos</i></a>-->
				<!--<a class="button" href="mailto://thonatos.yang@gmail.com"><i class="fa fa-mail-forward"> thonatos.yang@gmail.com</i></a>-->
				<!--</div>-->
			</div>
		</div>
		<div class="footer">
			<p class="text-right">
				Powered By NodeJS & <i class="fa fa-github"> Github</i>.
			</p>
		</div>
	</div>

</div>

<% include ../tmpl/footer %>

