<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>

	<% include ../tmpl/header_meta.ejs %>

	<title><%= pageTitle %> - <%= settings.site.name %></title>

	<% include ../tmpl/header_pub.ejs %>

	<link rel="stylesheet" href="/public/css/css-page/index-about.min.css">

	<!-- GLOBAL JAVASCRIPT -->
	<script>
		JS_PAGE_NAME = 'index-about';
	</script>

	<% MENU_ACTIVE = 'About'; %>

</head>
<body>

<div class="wrap">

	<div class="layout">

		<% include ../tmpl/layout_header.ejs %>

		<div class="main">
			<div class="inner">
				<div class="about">

					<h4 class="title">SITE.</h4>

					<p>大概是高中时候为了给喜欢的妹子做个有点纪念意义的小站，就这么开始研究起Web，后来听说有个职业叫“前端”？</p>

					<p>四年大学的前三年，去看了w3school，写了点css，能撸点html，偶尔再改改JavaScript；跟着“妓院”的教授写了几天Java；然后回到蛋疼的前端，做了一枚逗比的前端页面仔，大概就是对这四年的总结了吧？</p>

					<p>对了，忘记交代了，她最后还是和别人在一起了...</p>

					<h4 class="title">ME.</h4>

					<p>09/2011-06/2015 B. C., Department of Remote sensing science and technology, NUIST, NanJing</p>

					<p>装完X了继续，对上面的东西完全没有哪怕一丁点兴趣，于是乎，误入前端，毁此一生。</p>

					<p>专业课程享年，贰，卒。弃专业得重生，好走不谢。 </p>

					<h4 class="title">CONTACT.</h4>

					<ul>
						<li>thonatos@sina.com</li>
						<li>thonatos.yang@gmail.com</li>
					</ul>

					<p>大概这只是在YY，妹子都不要我了，谁还会联系我啊？</p>

					<p>不过还是留个邮箱意思一下吧，也许恰好有人想...O(∩_∩)O哈哈哈~</p>

				</div>
			</div>
		</div>
		<div class="footer">
			<div class="inner">
				<p class="text-right">
					Powered By NodeJS & <i class="fa fa-github"> Github</i>.
				</p>
			</div>
		</div>
	</div>

</div>

<% include ../tmpl/footer_pub.ejs %>
<% include ../tmpl/footer_sea.ejs %>

</body>
</html>

