<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>

	<% include ../tmpl/header_meta.ejs %>

	<title><%= pageTitle %> - <%= settings.site.name %></title>

	<% include ../tmpl/header_pub.ejs %>

	<link rel="stylesheet" href="/public/css/css-page/index-about.min.css">

	<!-- GLOBAL JAVASCRIPT -->
	<script>
		JS_PAGE_NAME = 'index-about';
	</script>

	<% MENU_ACTIVE = 'About'; %>

</head>
<body>

<div class="wrap">

	<div class="layout">

		<% include ../tmpl/layout_header.ejs %>

		<div class="main">
			<div class="inner">
				<div class="about">

					<h4 class="title">MT.NOTES.</h4>

					<p>A blog/documents Site Running on NodeJS Server.</p>

					<ul>
						<li>一个基于Github的文档站。</li>
						<li>一个随手发发牢骚的轻博客。</li>
						<li>一个前端学习过程的演示站。</li>
					</ul>

					<p>曾经是wordpress死忠，但日常学习工作中需要记录一些东西，每次登录去发布，实在是有点累；而随手记录的东西，日子长了又总会找不到，于是在本地建了一个文件夹，每次存储的时候按照分类保存，时间长了发现东西好像真的很多，但更新博客又变成一件很痛苦的事情，于是乎...</p>

					<p>看到了hexo，也使用了一下，感觉很好，但我确实比较懒，于是想想要不自己找一种更方便自己的吧，怎么方便呢？直接存好了，然后push到Github上吧；然后，问题来了，博客呢，要不要更新呢，想了想，要不就用Github的Api吧...</p>

					<p>再者，本人前端，经常会在本地写一些测试的东西——自定义H5播放器、低版本浏览器升级提示什么，直接在公司项目上改，错了也比较麻烦，另外，每次然后lessc也是真的累，干脆就搭了NodeJS本地服务器；东拼西凑，此站方成！</p>

					<h4 class="title">SITE.</h4>

					<p>大概是高中时候为了给喜欢的妹子做个有点纪念意义的小站，就这么开始研究起Web，后来听说有个职业叫“前端”？</p>

					<p>
						四年大学的前三年，去看了w3school，写了点css，能撸点html，偶尔再改改JavaScript；跟着“妓院”的教授写了几天Java；然后回到蛋疼的前端，做了一枚逗比的前端页面仔，大概就是对这四年的总结了吧？</p>

					<p>对了，忘记交代了，她最后还是和别人在一起了...</p>

					<h4 class="title">ME.</h4>

					<p>09/2011-06/2015 B. C., Department of Remote sensing science and technology, NUIST, NanJing</p>

					<p>装完X了继续，对上面的东西完全没有哪怕一丁点兴趣，于是乎，误入前端，毁此一生。</p>

					<p>专业课程享年，贰，卒。弃专业得重生，好走不谢。 </p>


				</div>
			</div>
		</div>
		<div class="footer">
			<div class="row inner">
				<div class="col-12 center text-right">
					Powered By NodeJS & <i class="fa fa-github"> Github</i>.
				</div>
			</div>
		</div>
	</div>

</div>

<% include ../tmpl/footer_pub.ejs %>
<% include ../tmpl/footer_sea.ejs %>

</body>
</html>

