<% include ../tmpl/header %>

<div class="wrap">
		<!--[if lt IE 7]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a
				href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		<div class="mask"></div>
		<div class="layout">

				<div class="header">
						<div class="col-12 nav">
								<a class="button white right" href="/doc"><i class="fa fa-file"> Notes</i></a>
								<a class="button white right" href="https://github.com/thonatos"><i class="fa fa-github">
												Thonatos</i></a>

								<div class="clearfix"></div>
						</div>

				</div>
				<div class="main">
						<div class="inner">
								<div class="index">
										<h4>INDEX.</h4>

										<p>世间万象，始于静，终归于静。</p>

										<p>Time always save the best for last.</p>
								</div>
								<div class="info">
										<a class="button white" href="http://weibo.com/thonatos"><i class="fa fa-weibo">
														Thonatos</i></a>
										<a class="button white" href="mailto://thonatos.yang@gmail.com"><i
														class="fa fa-mail-forward"> thonatos.yang@gmail.com</i></a>
								</div>
						</div>
				</div>
				<div class="footer">
						<p class="text-right">
								Powered By NodeJS & <i class="fa fa-github"> Github</i>.
						</p>
				</div>
		</div>

</div>

<% include ../tmpl/footer %>

