<% include ../tmpl/header %>

<div class="wrap">
	<!--[if lt IE 7]>
	<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a
			href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<div class="layout">

		<div ui-view></div>

	</div>

</div>

<% include ../tmpl/footer %>