<% include ../tmpl/header %>

<div class="wrap">
	<!--[if lt IE 7]>
	<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a
			href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<div class="layout">

		<div class="header">
			<div class="row inner">
				<div class="col-12 center text-left info">
					MT.NOTES & Profile
				</div>
			</div>
		</div>

		<div class="row main">

			<a href="/users/signout">Signout</a>

			<% if(pageContent.isAdministrator){ %>
			<a href="/users/admin">Management</a>
			<% } %>
		</div>

		<div class="footer">
			<div class="row inner">
				<div class="col-12 center text-right">
					@GR.TEAM & Arashi Vision.
				</div>
			</div>
		</div>
	</div>

</div>

<% include ../tmpl/footer %>