<% include ../tmpl/header %>

<div class="wrap">
	<!--[if lt IE 7]>
	<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a
			href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<div class="layout">

		<div class="header">
			<div class="row inner">
				<div class="col-12 center text-left info">
					MT.NOTES & Signin
				</div>
			</div>
		</div>

		<div class="row main">
			<form class="form-login col-12 center" action="/users/signin" method="post">

				<% if ( (message !== undefined) && (message.length > 0) ) { %>
				<div class="col-12 columns">
					<span><%= message %></span>
				</div>
				<% } %>

				<div class="col-12 columns">
					<label for="email">Email:</label>
					<input type="text" name="email"/>
				</div>

				<div class="col-12 columns">
					<label for="password">Password:</label>
					<input type="password" name="password"/>
				</div>

				<div class="col-12 columns">
					<button type="submit" class="button right">Submit</button>
					<button type="reset" class="button right">Reset</button>
				</div>
			</form>
		</div>

		<div class="footer">
			<div class="row inner">
				<div class="col-12 center text-right">
					@GR.TEAM & Arashi Vision.
				</div>
			</div>
		</div>
	</div>

</div>

<% include ../tmpl/footer %>