<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<!--
 _____   _   _   _____   __   _       ___   _____   _____   _____
|_   _| | | | | /  _  \ |  \ | |     /   | |_   _| /  _  \ /  ___/
  | |   | |_| | | | | | |   \| |    / /| |   | |   | | | | | |___
  | |   |  _  | | | | | | |\   |   / / | |   | |   | | | | \___  \
  | |   | | | | | |_| | | | \  |  / /  | |   | |   | |_| |  ___| |
  |_|   |_| |_| \_____/ |_|  \_| /_/   |_|   |_|   \_____/ /_____/
  # mail: thonatos.yang@gmail.com
  # url: http://www.thonatos.com
-->
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Thonatos.Yang">

	<title><%= pageTitle %> - Thonatos.Yang</title>

	<!-- GLOBAL JAVASCRIPT -->
	<script>
		PAGE_NAME = '<%= pageName %>';
	</script>

	<link href='http://fonts.useso.com/css?family=Open+Sans:300,400,600&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/public/css/css-page/<%= pageName %>.min.css">

	<% include config_cdn %>

</head>
<body>